.pace .pace-progress {background: #ffcb0e;}
.bigIcon {color: #169dca;}
.socialList li a:hover{color: #ffcb0e;}
.btn-new,.downloadNumber{background: #169dca}
.btn-new:hover,.btn-new:focus{background: #19b3e6}
#share{background-color: #ffcb0e;}
